/* Import color styles. */
@import "./base.css";

/* Page layout */

.round-box {
    background-color: var(--color-background-soft);
    border-radius: 1em;
    padding: 1em;
    min-height: 5em;
}

a,
.dsu-blue {
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.4s;
    padding: 3px;
    border-radius: 0.5em;
}

/* I took this from stack overflow. Removes the 'increment' and 'decrement' buttons in firefox and chrome. */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    background: var(--color-background-mute);
    border-style: solid;
    border-radius: 0.25rem;
    border-color: var(--color-primary);
    padding: 0;
    text-align: center;
    color: white;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* When hovering is supported by the browser. */
@media (hover: hover) {
    a:hover {
        /* background-color: hsla(160, 100%, 37%, 0.2); */
        background-color: var(--color-tertiary-container);
        color: var(--color-tertiary-on-container);
    }
}
