/* Import color styles. */
@import "./colors.css";

/* Page layout */

.round-box {
    background-color: var(--color-background-soft);
    border-radius: 1em;
    padding: 1em;
    min-height: 5em;
}

form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10%;
    gap: 1rem;
}

form input, form button {
    font-family: inherit;
    color: white;
}

a,
.dsu-blue {
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.4s;
    padding: 3px;
    border-radius: 0.5em;
}

button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding-left: 1em;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

/* When hovering is supported by the browser. */
@media (hover: hover) {
    a:hover {
        /* background-color: hsla(160, 100%, 37%, 0.2); */
        background-color: var(--color-tertiary-container);
        color: var(--color-tertiary-on-container);
    }
}
